body {
  background: #192648;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  min-height: 100vh;
  max-width: 1440px;
}

/* ============================================ */
/*                 .TITLE-BLOCK                 */
/* ============================================ */
.title-block {
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  margin-top: 3rem;

  border: 2px solid rgba(255, 255, 255, 0.642);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  //   .block-name
  .block-name {
    span {
      display: block;
      color: white;
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 0.9;
    }
  }

  //   .block-score
  .block-score {
    background: white;
    padding: 1rem 2rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      color: #929fd2;
      font-size: 1.2rem;
      font-weight: 700;
    }

    .score {
      width: 50px;
      text-align: center;
      font-weight: 700;
      font-size: 3rem;
      line-height: 1;
    }
  }
}

/* ============================================ */
/*                 .CHOOSE-BLOCK                */
/* ============================================ */
.choose-block {
  padding: 1rem;
  margin: 2rem 0;
  margin-top: 5rem;
  width: 90%;
  height: 332px;
  max-width: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .step-1 {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;

    background-image: url(../images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .hand {
    width: 120px;
    height: 120px;
    border-radius: 100rem;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
    cursor: pointer;
    position: absolute;

    &:hover {
      transform: scale(1.2);
    }
  }

  //   1
  .bao {
    box-shadow: 0px 5px 0px #2945c1;
    border: 15px solid #536fee;
    top: 15%;
    left: -15%;
  }
  //   2
  .keo {
    box-shadow: 0px 5px 0px #c76c1b;
    border: 15px solid #eba117;
    right: -15%;
    top: 15%;
  }
  //   3
  .bua {
    box-shadow: 0px 5px 0px #9e132f;
    border: 15px solid #df405e;
    bottom: -10%;
    left: -0%;
  }

  // 4
  .lan {
    box-shadow: 0px 5px 0px #5e37a9;
    border: 15px solid #8957e5;
    bottom: -10%;
    right: -0%;
  }
  // 5
  .hai {
    box-shadow: 0px 5px 0px #2e8ea9;
    border: 15px solid #3eb8cf;
    top: -15%;
    left: calc(50% - 60px);
  }
}

/* ============================================ */
/*                  .RULE-BLOCK                 */
/* ============================================ */
.rule-block {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  padding: 0.5rem 2rem;
  color: white;

  &:hover {
    color: red;
    border: 2px solid red;
  }
}

/* ============================================ */
/*                  .RULE-TABLE                 */
/* ============================================ */
.rule-table {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  top: 0;
  padding: 1rem;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.376);

  .wrapper {
    background: white;
    padding: 2rem;
    border-radius: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .rule-name {
        font-size: 2rem;
        font-weight: 700;
      }

      .delete {
        font-size: 2rem;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* ============================================ */
/*                    RESULT                    */
/* ============================================ */

.step-2 {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  position: absolute;
  width: 100%;
  top: 0%;

  .pick {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .handd {
      width: 130px;
      height: 130px;
      border-radius: 100rem;
      background: white;

      display: flex;
      justify-content: center;
      align-items: center;

      box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
      cursor: pointer;
    }

    //   1
    .paper {
      box-shadow: 0px 5px 0px #2945c1;
      border: 15px solid #536fee;
    }
    //   2
    .scissors {
      box-shadow: 0px 5px 0px #c76c1b;
      border: 15px solid #eba117;
    }
    //   3
    .rock {
      box-shadow: 0px 5px 0px #9e132f;
      border: 15px solid #df405e;
    }
    // 4
    .lizard {
      box-shadow: 0px 5px 0px #5e37a9;
      border: 15px solid #8957e5;
    }
    // 5
    .spock {
      box-shadow: 0px 5px 0px #2e8ea9;
      border: 15px solid #3eb8cf;
    }
    span {
      color: white;
      font-size: 1.2rem;
    }
  }

  .RESULT {
    margin-top: 0rem;
    margin-bottom: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      color: white;
      font-size: 2.5rem;
    }

    button {
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}
