@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background: #192648;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
  max-width: 1440px;
}

/* ============================================ */
/*                 .TITLE-BLOCK                 */
/* ============================================ */
.title-block {
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  margin-top: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.642);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.title-block .block-name span {
  display: block;
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 0.9;
}

.title-block .block-score {
  background: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-block .block-score span {
  color: #929fd2;
  font-size: 1.2rem;
  font-weight: 700;
}

.title-block .block-score .score {
  width: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
}

/* ============================================ */
/*                 .CHOOSE-BLOCK                */
/* ============================================ */
.choose-block {
  padding: 1rem;
  margin: 2rem 0;
  margin-top: 5rem;
  width: 90%;
  height: 332px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.choose-block .step-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url(../images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.choose-block .hand {
  width: 120px;
  height: 120px;
  border-radius: 100rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
          box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
  cursor: pointer;
  position: absolute;
}

.choose-block .hand:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.choose-block .bao {
  -webkit-box-shadow: 0px 5px 0px #2945c1;
          box-shadow: 0px 5px 0px #2945c1;
  border: 15px solid #536fee;
  top: 15%;
  left: -15%;
}

.choose-block .keo {
  -webkit-box-shadow: 0px 5px 0px #c76c1b;
          box-shadow: 0px 5px 0px #c76c1b;
  border: 15px solid #eba117;
  right: -15%;
  top: 15%;
}

.choose-block .bua {
  -webkit-box-shadow: 0px 5px 0px #9e132f;
          box-shadow: 0px 5px 0px #9e132f;
  border: 15px solid #df405e;
  bottom: -10%;
  left: -0%;
}

.choose-block .lan {
  -webkit-box-shadow: 0px 5px 0px #5e37a9;
          box-shadow: 0px 5px 0px #5e37a9;
  border: 15px solid #8957e5;
  bottom: -10%;
  right: -0%;
}

.choose-block .hai {
  -webkit-box-shadow: 0px 5px 0px #2e8ea9;
          box-shadow: 0px 5px 0px #2e8ea9;
  border: 15px solid #3eb8cf;
  top: -15%;
  left: calc(50% - 60px);
}

/* ============================================ */
/*                  .RULE-BLOCK                 */
/* ============================================ */
.rule-block {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  padding: 0.5rem 2rem;
  color: white;
}

.rule-block:hover {
  color: red;
  border: 2px solid red;
}

/* ============================================ */
/*                  .RULE-TABLE                 */
/* ============================================ */
.rule-table {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  top: 0;
  padding: 1rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.376);
}

.rule-table .wrapper {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.rule-table .wrapper .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rule-table .wrapper .title .rule-name {
  font-size: 2rem;
  font-weight: 700;
}

.rule-table .wrapper .title .delete {
  font-size: 2rem;
  opacity: 0.7;
  cursor: pointer;
}

.rule-table .wrapper .title .delete:hover {
  opacity: 1;
}

/* ============================================ */
/*                    RESULT                    */
/* ============================================ */
.step-2 {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: absolute;
  width: 100%;
  top: 0%;
}

.step-2 .pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.step-2 .pick .handd {
  width: 130px;
  height: 130px;
  border-radius: 100rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
          box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
  cursor: pointer;
}

.step-2 .pick .paper {
  -webkit-box-shadow: 0px 5px 0px #2945c1;
          box-shadow: 0px 5px 0px #2945c1;
  border: 15px solid #536fee;
}

.step-2 .pick .scissors {
  -webkit-box-shadow: 0px 5px 0px #c76c1b;
          box-shadow: 0px 5px 0px #c76c1b;
  border: 15px solid #eba117;
}

.step-2 .pick .rock {
  -webkit-box-shadow: 0px 5px 0px #9e132f;
          box-shadow: 0px 5px 0px #9e132f;
  border: 15px solid #df405e;
}

.step-2 .pick .lizard {
  -webkit-box-shadow: 0px 5px 0px #5e37a9;
          box-shadow: 0px 5px 0px #5e37a9;
  border: 15px solid #8957e5;
}

.step-2 .pick .spock {
  -webkit-box-shadow: 0px 5px 0px #2e8ea9;
          box-shadow: 0px 5px 0px #2e8ea9;
  border: 15px solid #3eb8cf;
}

.step-2 .pick span {
  color: white;
  font-size: 1.2rem;
}

.step-2 .RESULT {
  margin-top: 0rem;
  margin-bottom: 1rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step-2 .RESULT span {
  color: white;
  font-size: 2.5rem;
}

.step-2 .RESULT button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.step-2 .RESULT button:hover {
  color: red;
}

@media screen and (max-width: 424.98px) {
  .choose-block {
    width: 280px;
    height: 250px;
  }
  .choose-block .hand {
    width: 110px;
    height: 110px;
  }
  .choose-block .bao {
    left: -10%;
    top: 25%;
  }
  .choose-block .keo {
    right: -10%;
    top: 25%;
  }
  .choose-block .bua {
    right: 0%;
    left: unset;
    bottom: -5%;
  }
  .choose-block .lan {
    left: 0%;
    bottom: -5%;
  }
  .choose-block .hai {
    left: calc(50% - 55px);
    top: -5%;
  }
  /* ------------------- STEP2 ------------------ */
  .step-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
  .step-2 .handd {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .step-2 .RESULT {
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
  .rule-block {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 319.98px) {
  .choose-block {
    width: 260px;
    height: 190px;
    margin-top: 6rem;
  }
  .choose-block .hand {
    width: 90px;
    height: 90px;
  }
  .choose-block .hand img {
    width: 60%;
    height: 60%;
  }
  .choose-block .hai {
    left: calc(50% - 45px);
    top: -5%;
  }
  .title-block .block-score {
    padding: 1rem 1rem;
  }
  .step-2 {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  .step-2 .handd {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .step-2 .pick span {
    font-size: 0.9rem;
  }
  .step-2 .RESULT {
    margin-top: 0rem;
  }
}
/*# sourceMappingURL=main.css.map */