@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background: #192648;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* ============================================ */
/*                 .TITLE-BLOCK                 */
/* ============================================ */
.title-block {
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.642);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.title-block .block-name span {
  display: block;
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 0.9;
}

.title-block .block-score {
  background: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-block .block-score span {
  color: #929fd2;
  font-size: 1.2rem;
  font-weight: 700;
}

.title-block .block-score .score {
  width: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
}

/* ============================================ */
/*                 .CHOOSE-BLOCK                */
/* ============================================ */
.choose-block {
  padding: 1rem;
  margin: 5rem 0;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-block .step-1 {
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.choose-block .hand {
  width: 130px;
  height: 130px;
  border-radius: 100rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
          box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
  cursor: pointer;
  position: absolute;
}

.choose-block .hand:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.choose-block .bao {
  -webkit-box-shadow: 0px 5px 0px #2945c1;
          box-shadow: 0px 5px 0px #2945c1;
  border: 15px solid #536fee;
  top: -10%;
  left: -10%;
}

.choose-block .keo {
  -webkit-box-shadow: 0px 5px 0px #c76c1b;
          box-shadow: 0px 5px 0px #c76c1b;
  border: 15px solid #eba117;
  right: -10%;
  top: -10%;
}

.choose-block .bua {
  -webkit-box-shadow: 0px 5px 0px #9e132f;
          box-shadow: 0px 5px 0px #9e132f;
  border: 15px solid #df405e;
  bottom: -10%;
  left: calc(50% - 65px);
}

/* ============================================ */
/*                  .RULE-BLOCK                 */
/* ============================================ */
.rule-block {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  padding: 0.5rem 2rem;
  color: white;
}

.rule-block:hover {
  color: red;
  border: 2px solid red;
}

/* ============================================ */
/*                  .RULE-TABLE                 */
/* ============================================ */
.rule-table {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 1rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.376);
}

.rule-table .wrapper {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.rule-table .wrapper .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rule-table .wrapper .title .rule-name {
  font-size: 2rem;
  font-weight: 700;
}

.rule-table .wrapper .title .delete {
  font-size: 2rem;
  opacity: 0.7;
  cursor: pointer;
}

.rule-table .wrapper .title .delete:hover {
  opacity: 1;
}

/* ============================================ */
/*                    RESULT                    */
/* ============================================ */
.your-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}

.your-choose .pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.your-choose .pick .handd {
  width: 130px;
  height: 130px;
  border-radius: 100rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
          box-shadow: inset 0px 8px 2px rgba(0, 0, 0, 0.222);
  cursor: pointer;
}

.your-choose .pick span {
  color: white;
  font-size: 1.2rem;
}

.your-choose .RESULT button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.your-choose .RESULT button:hover {
  color: red;
}

@media screen and (max-width: 424.98px) {
  .choose-block {
    width: 220px;
    height: 220px;
  }
  .choose-block .hand {
    width: 110px;
    height: 110px;
  }
  .choose-block .bua {
    left: calc(50% - 55px);
  }
}

@media screen and (max-width: 319.98px) {
  .choose-block {
    width: 190px;
    height: 190px;
  }
  .choose-block .hand {
    width: 100px;
    height: 100px;
  }
  .choose-block .bua {
    left: calc(50% - 50px);
  }
  .title-block .block-score {
    padding: 1rem 1rem;
  }
}
/*# sourceMappingURL=main.css.map */